::-webkit-scrollbar {
  display: none;
}

.Wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.titleWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    h1, h2 {
        margin: 0;
    }

    img {
        width: 100px;
        height: 100px;
    }
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
        margin-top: 0;
    }

    textarea {
        width: 40vw;
        height: 100px;
        padding: 10px;
        box-sizing: border-box;
        border: solid 2px #000000;
        border-radius: 5px;
        font-size: 16px;
        resize: both;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        &:focus {
            outline: none;
            border-color: #1E90FF;
        }
    }
}

#analyzeButton {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1E90FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: #146bc3;
    }
}




